<div class="container-fluid">
  <div class="row">
    <div class="col-2 ml-3">
      <div class="border border-dark p-1">
        <h6 class="text-center">ジャンル検索</h6>
      </div>
      <div class="border border-dark p-3">
        <ul class="list-unstyled">
          <% @categories.each do |category| %>
          <li><%= category.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-9 mx-5">
      <h2 class="font-weight-bold d-inline-flex">商品一覧</h2><span class="">（全<%= @products.count %>件）</span>
      <div class="d-flex flex-row mt-2">
        <% @products.each do |product| %>
        <div class="d-flex flex-column mr-3">
          <div>
            <%= link_to product_path(product.id) do %>
              <%= attachment_image_tag product, :image, :fill, 150, 200, fallback:"no_image.jpg" %>
            <% end %>
          </div>
          <div><%= product.name %></div>
          <div><%= product.price %></div>
        </div>
        <% end %>
        <%= paginate @products %>
      </div>

    </div>
  </div>
</div>
