<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>ショッピングカート</h2>
    </div>
    <div class="col-md-4 offset-md-4">
      <%= link_to destroy_all_customers_cart_products_path, method: :delete do %>
        <button type="button" class="btn btn-danger">カートを空にする</button>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <table class="cart_products col-md-10">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>

          <% @cart_products.each do |cart_product| %>
          <tr>
          <td>
            <!--img追加-->

            <%= cart_product.product.name %>
          </td>

          <td>
            <%= cart_product.product.add_tax_price %>
          </td>
          <td>
            <%= form_with model:@cart_product, local: true do |f| %>
              <%= f.select :quantity, *[1..30], { include_blank: cart_product.quantity.to_s} %>
              <%= f.submit '変更' %>
            <% end %>
            <!--<select name="example">-->
            <!--  <option value="0">0</option>-->
            <!--  <option value="1">1</option>-->
            <!--  <option value="2">2</option>-->
            <!--</select>-->

          </td>
          <td>
            <%= cart_product.subtotal %>
          </td>
          <td>
            <%= link_to customers_cart_product_path(cart_product.id), method: :delete do %>
            <button type="button" class="btn btn-danger">削除する</button>
            <% end %>
          </td>
          <% @total +=  cart_product.subtotal %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<br><br>

  <div class="row">
    <div class="col-md-7 offset-md-1">
      <button type="button" class="btn btn-primary">買い物を続ける</button>
    </div>
    <div class="col-auto">

      <table class="cart_products">
        <tr>
          <th>合計金額</th>
          <td><%= @total %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-4">
      <button type="button" class="btn btn-success">情報入力に進む</button>
    </div>

  </div>
</div>