<div class="'container pt-5">

  <h4>管理者ログイン</h4>
  
  <%= form_with model:@admin, url:admin_session_path, local:true do |f| %>
    <%= render "admin/shared/error_messages", resource: resource %>
    <div class="">
      <%= f.label:メールアドレス, class: "" %>
      <%= f.email_field :email, autofocus:true, placeholder: "sample@example.com", autocomplete: "email", class: "" %>
    </div>
    <div class="">
      <%= f.label:パスワード, class: "" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "" %>
    </div>
    <div class="">
      <%= f.submit "ログイン", class: "" %>
    </div>
    <% end %>
  
  </div>