<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 ml-3">
      <div class="border border-light p-1 category">
        <h6><i class="fas fa-birthday-cake"></i> ジャンル検索</h6>
      </div>
      <div class="border border-light p-3", style="background-color:#e6e6fa;">
        <ul class="list-unstyled">
          <% @categories.each do |category| %>
          <li class="categorymenu"><i class="fas fa-cookie"></i> <%= category.name %></li>
          <% end %>

        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <div class="slider">
	    <div class="skippr-slider">
		    <div style="background-image: url(/assets/top.jpg)">
    		  <div class="col-6 mx-auto introduction">
    		    ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </div>
		    </div>
		      <div style="background-image: url(/assets/top2.jpg)"></div>
	      	<div style="background-image: url(assets/top3.jpg)"></div>
	    </div>

        <script src="./js/skippr.js" type="text/javascript"></script>
          <script>
          	$(document).ready(function(){
          		$(".skippr-slider").skippr({
          			transition: 'fade',
          			autoPlay: true,
          			autoPlayDuration: 4000,
          		});
          	});
          </script>
    </div>

      <h4>新着商品</h4>
      <div class="d-flex flex-row mt-2">
        <% @products.each do |product| %>
        <div class="d-flex flex-column mr-3">
          <div>
            <%= link_to product_path(product) do %>
              <%= attachment_image_tag product, :image, :fill, 200, 200, fallback: "no_image.jpg" %>
            <% end %>
          </div>
          <div style="font-size:20px;"><%= product.name %></div>
          <div>¥ <%= product.price.to_s(:delimited) %></div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>