<div class="container">
  <div class="row">
    <h3 class="col-md-5"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <td style="width:30%">会員ID</td>
          <td style="width:70%"><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr><tr>
          <td>会員ステータス</td>
          <% if @customer.is_deleted == false %>
            <td>有効</td>
          <% else %>
            <td>退会</td>
          <% end %>
          </td>
        </tr>

      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 clearfix">
      <div class="float-right"><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success btn-sm" %></div>
    </div>
    <div class="col-md-7">
      <%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>

</div>
