<div class="container">
  <div class="row">
    <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table cart_products">
        <tr>
          <th style="width:30%">会員ID</th>
          <td style="width:70%"><%= @customer.id %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <% if @customer.is_deleted == false %>
            <td>有効</td>
          <% else %>
            <td>退会</td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 clearfix">
      <div class="float-right"><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %></div>
    </div>
    <div class="col-md-7">
      <%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>
