<div class="container">
  <div class="row">
    <h3 class="col-md-5">注文履歴詳細</h2>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p><strong>購入者</strong></p>
    </div>
    <div class="col-md-6">
      
      <p><%= @order.name %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p><strong>注文日</strong></p>
    </div>
    <div class="col-md-6">
      <p><%= @order.created_at.to_s(:datetime_jp) %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p><strong>配送先</strong></p>
    </div>
    <div class="col-md-6">
      <p>
        <%= @order.postal_code %> <%= @order.address %><br>
        <%= @order.name %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p><strong>支払方法</strong></p>
    </div>
    <div class="col-md-6">
      <p><%= @order.payment_method_i18n %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p><strong>注文ステータス</strong></p>
    </div>
    <div class="col-md-6 d-flex clearfix">
    <!--ここの記述あやしい-->
      <%= form_with model: @order, url: admin_order_path(@order), local:true do |f| %>
        <%= f.select :status, Order.statuses.keys.map { |k| [I18n.t("enums.order.status.#{k}"), k] } %>
        <%= f.submit "更新" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-sm">
        <thead class="">
          <tr>
            <th class="">商品名</th>
            <th class="">単価</th>
            <th class="">数量</th>
            <th class="">小計</th>
            <th class="">製作ステータス</th>
          </tr>
        </thead>
        <% @order_details.each do |order_detail| %>
        <tbody>
          <tr>
            <td><%= order_detail.product.name %></td>
            <!--価格怪しい-->
            <td><%= order_detail.product.add_tax_price %></td>
            <td><%= order_detail.quantity %></td>
            <!--価格怪しい-->
            <td><%= order_detail.product.add_tax_price * order_detail.quantity %></td>
            <td>
            <!--ここの記述怪しい-->
              <%= form_with url:admin_order_detail_path , model: order_detail, local: true do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses.keys.map { |k| [I18n.t("enums.order_detail.making_status.#{k}"), k] } %>
                <%= f.submit "更新", class: "" %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
          <tr>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div>
      <table>
        <tr>
          <td>商品合計</td>
          <!--商品合計はeachメソッドでコントローラーに定義-->
          <td><%= @total %></td>
        </tr>
        <tr>
          <td>送料</td>
          <td>800円</td>
        </tr>
        <tr>
          <td>請求金額</td>
          <!--ここの記述わからない-->
          <td><%= @total + 800 %>円</td>
        </tr>
      </table>
      
    </div>
  </div>