<h2>新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path, local:ture do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="">
    <%= f.label : "名前", class: "" %>
    <%= f.label : "(姓)", class: "" %>
    <%= f.text_field :last_name, autofocus: true, placeholder: "令和", class: "" %>
    <%= f.label : "(名)", class: "" %>
    <%= f.text_field :first_name, autofocu: true, placeholder: "道子", class: "" %>
  </div>
  <%= render "public/shared/links" %>
<% end %>