<main>
  <div class="container">
    <div class="row">
      <span class="heading">ジャンル一覧・追加</span>
    </div>

    <br>

    <!--ジャンル名新規登録-->
    <div class="row">
      <div class="col-2">
        ジャンル名
      </div>

      <%= form_with model:@category,url:"/admin/categories", local:true do |f| %>
      <div class="d-flex flex-row　form-group">
        <div>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>

        <div>
          <%= f.submit "新規登録" , class: 'btn btn-success offset-md-2' %>
        </div>
      </div>
      <% end %>
    </div>

    <br>

    <!--ジャンル表示-->
    <div class="row">
      <div class="col-md-8">
        <table class="categories">
          <tr>
            <th class="col-md-8">ジャンル</th>
            <th class="col-md-4"></th>
          </tr>
          <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td>
              <%= link_to edit_admin_category_path(category.id) do %>
                <button type="button" class="btn btn-success">編集する</button>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>

  </div>
</main>