<h6>商品編集</h6>
<div class="container">
  <div class="row">
    <!--colのサイズ設定-->
    <%= form_with model: @product, url: admin_product_path(@product.id), local: true do |f| %>
      <label>商品画像</label>
      <%= f.attachment_field :image %>

      <label>商品名</label>
      <%= f.text_field :name %>

      <label>商品説明</label>
      <%= f.text_area :caption %>

      <label>ジャンル</label>
      <%= f.collection_select(:category_id, @categories, :id, :name, prompt: "選択してください") %>

      <label>税抜き価格</label>
      <%= f.text_field :price %>円

      <label>販売ステータス</label>
      <%= f.collection_radio_buttons :is_active, Product.is_actives_i18n, :first, :last %>

      <%= f.submit "変更を保存" %>
    <% end %>
  </div>
</div>