<h6>商品一覧</h6>
<div class="container">
  <div class="row">
    <!--colのサイズ設定-->
    <div>
      <table>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, admin_product_path(product.id) %></td>
            <td><%= product.price %></td>
            <td><%= product.category.name %></td>
            <td><%= product.is_active ? "販売中" : "販売停止中" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <!--ページング記載-->

    </div>
  </div>
</div>