<div class="container">
  <h6>商品新規登録</h6>
  <div class="row">
    <!--colのサイズ設定-->
    <%= form_with model: @product, url: admin_products_path, local: true do |f| %>
      <table>
        <tr>
          <td>商品画像</td>
          <td><%= f.attachment_field :image %></td>
        </tr>
        <tr>
          <td>商品名</td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= f.text_area :caption %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= f.collection_select(:category_id, @categories, :id, :name, prompt: "選択してください") %></td>
        </tr>
        <tr>
          <td>税抜き価格</td>
          <td><%= f.text_field :price %>円</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "販売中" %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中" %>
          </td>
        </tr>
      </table>
      <%= f.submit "新規登録" %>
    <% end %>
  </div>
</div>