
<div class="container">
  <h6>商品詳細</h6>
  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag @product, :image, :fill, 100, 200, format: "jpeg" %>
    </div>
    <div class="col-md-6">
      <table>
        <tr>
          <td>商品</td>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @product.caption %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @product.category.name %></td>
        </tr>
        <tr>
          <td>税込み価格<br>（税抜価格）</td>
          <td><%= @product.add_tax_price.to_s(:delimited) %> (<%= @product.price %>)</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td><%= @product.is_active ? "販売中" : "販売停止中" %></td>
        </tr>
      </table>
      <%= link_to edit_admin_product_path(@product.id) do %>
        <div class="button">
          編集する
        </div>
      <% end %>
    </div>
  </div>
</div>