<div class="container">
  <div class="row mb-3">
    <h4 class="col-md-3">ログイン</h4>
  </div>
  <div class="row mb-3">
    <h6 class="col-md-4">会員の方はこちらからログインしてね。</h6>
  </div>


<%= form_with model:@customer, url:customer_session_path, local:true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="form-group row">
    <%= f.label:"メールアドレス", class: "col-md-3" %>
    <%= f.email_field :email, autofocus:true, placeholder: "sample@example.com", autocomplete: "email", class: "col-md-5 form-control" %>
  </div>
  <div class="form-group row">
    <%= f.label:"パスワード", class: "col-md-3" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-md-5 form-control" %>
  </div>
  <div class="form-group row">
    <%= f.submit "ログイン", class: "col-md-1 offset-1 btn btn-success" %>
  </div>
  <% end %>

  <div class="row">
    <h6 class="col-md-3">会員登録がお済みでない方</h6>
    <p class="col-md-10 ml-5"><%= render "public/shared/links" %>から新規登録を行ってね。</p>
  </div>